<html>
    <head>
        <title>Coding Experience - AaTherf</title>
        <link rel="icon" href="../public/images/aatherfpfp.ico">
        <link rel="stylesheet" href="../../public/css/style.css">

        <meta name="author" content="AaTherf">
        <meta name="description" content="AaTherf's Coding Carrier">        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <main>
            <h1>My Coding Experience & Stats</h1>
        </main>
    </body>
</html>